.head-order{
  width: 80%;
  margin: 0 auto;
  border: 1px solid #21A454;
    &__content{
      background-color: rgb(207, 39, 39);
      display: flex;
      list-style: none;
      &.light{
        background-color: rgb(204, 83, 83);
      }
      li{
        text-align: center;
        flex-basis: 100%;
        text-transform: uppercase;
        border-right: 1px solid #21A454;
        font-size: 20px;
        line-height: 24px;
        &:last-child{
          border: initial;
        }
      }
    }
}